<footer class="footer bg-dark text-muted py-3 mt-auto">
  <div class="container">
    <span>YelpCamp 2022 &copy</span>
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/campgrounds/">Index</a>
  </div>
</footer>
