<!-- use navbar-expand-lg to only expand on a large screen, and navbar-expand to always expand -->
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <b> YelpCamp</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Index</a>
        <a class="nav-link" href="/campgrounds/new">New</a>
        <a class="nav-link" href="/reviews">All reviews</a>
      </div>
      <!-- create a dropdown menu in the navbar with links to specific routes with utilities -->
      <div class="navbar-nav ms-auto">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Utilities
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/utils/check-image">Check image</a></li>
            <li><a class="dropdown-item" href="/utils/chicken">Chicken</a></li>
            <li><a class="dropdown-item" href="/utils/cleanup">Cleanup</a></li>
            <li><a class="dropdown-item" href="/utils/stars">Stars EJS</a></li>
            <li><a class="dropdown-item" href="/public/html/stars">Stars HTML</a></li>
            <li><a class="dropdown-item" href="/utils/transferimages">Transfer images</a></li>
          </ul>
        </div>
      </div>

      <div class="navbar-nav ms-auto"> <!-- ms-auto to align to the right -->
        <% if (!currentUser) { %> <!-- if there is no current user, show the register and login links -->
          <a class="nav-link" href="/users/register">Register</a>
          <a class="nav-link" href="/users/login">Login</a>
        <% } else { %> <!-- if there is a current user, show the logout link -->
          <a class="nav-link">Current user: <%= currentUser.username %> → </a>
          <a class="nav-link" href="/users/logout">Logout</a>
        <% } %> 
      </div>
    </div>
  </div>
</nav>