<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="row">
    <h1>New campground</h1>
    <p><i> &nbsp; </i></p>
    <div class="col-8 offset-2 mt-3">
      <form action="/campgrounds" method="POST" class="validated-form" enctype="multipart/form-data" novalidate> <!-- add novalidate attribute to prevent browser from validating the form, then add a needs-validation class, to run the Bootstrap javascript below -->

        <label for="title" class="form-label mt-3">Title </label>
        <input type="text" class="form-control col-md-4" name="campground[title]" id="title" value="blank" required>
        <div class="invalid-feedback">
          Please provide a title.
        </div>
        <div class="valid-feedback">
          Looks good !
        </div>

        <label for="location" class="form-label mt-3">Location </label>
        <input type="text" class="form-control col-md-4" name="campground[location]" id="location" value="10 rue Saint Paul Paris" required>

        <label for="price" class="form-label mt-3">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">€/night</span>
          <input type="number" class="form-control col-md-1" id="price" name="campground[price]" value="1" min="0" step="1" required>
          <span class="input-group-text">.00</span>
          <div class="invalid-feedback">
            Price must be greater than 0.
          </div>
        </div>

        <label for="tinymcetextarea" class="form-label mt-3">Description </label>
        <textarea  type="text" class="form-control col-md-8" name="campground[description]" id="tinymcetextarea"  rows="5" required>Blank</textarea>

        <div class="">
          <label for="images" class="form-label mt-3 upload-multiple-label">Upload one or more images </label>
          <input type="file" name="images" id="images" class="form-control upload-multiple-input" multiple minlength="1" maxlength="3">
          <!-- <div id="messages"></div> -->
          <div class="invalid-feedback">
           Cannot upload more than 3 images.
          </div>
        </div>

        <label for="imageUrl" class="form-label mt-3">And / or paste a url link to an image </label>
        <input type="text" class="form-control col-sm-8" id="imageUrl" value="<%= 'https://res.cloudinary.com/du8f69tr6/image/upload/v1676822348/cld-sample-2.jpg' %>" name="campground[image]">
        
        <button class="btn btn-success my-3" id="mainbutton">Submit</button>
      </form>
      <div class="mb-3">
        <a href="/campgrounds" >Back to index</a>
      </div>
    </div>
  </div>
</div>


<!-- a script that a checks the number of images that are being uploaded. If the number of images is more than 3, then the upload will be rejected and an error message will be displayed to the user under the images input, and the submit button will be hidden. It the number of images is equal or less than 3, then the error message will be removed and the submit button will be shown -->

<!-- check out the script in the boiler plate.ejs file, which is the parent of this file, to see how the script is called -->
<!-- 
<script>
  const imagesInput = document.querySelector('#images');
  const imagesInputError = document.querySelector('.upload-multiple-label');
  const submitButton = document.querySelector('#mainbutton');

  imagesInput.addEventListener('change', (e) => {
    if (e.target.files.length > 3) {
      imagesInputError.insertAdjacentHTML('afterend', '<p class="text-danger">You can only upload up to 3 images.</p>');
      // submitButton.disabled = true;
      submitButton.classList.add('d-none');
    } else {
      document.querySelector('.text-danger').remove();
      // submitButton.disabled = false;
      submitButton.classList.remove('d-none');
    }
  });
</script> -->
